body{
    margin: 9;
    padding: 0;
}
.price{
    color: #FF136F
}
.slider-bg{
    background-color: #FEEAE9
    ;
}
.slider-show{
    margin: 0;
    padding: 0;
}
.border-radius{
    border-radius: 20px;
}