body{
    margin: 9;
    padding: 0;
}
.price{
    color: #FF136F
}
.slider-bg{
    background-color: #FEEAE9;
}
.slider-show{
    margin: 0;
    padding: 0;
}
.border-radius{
    border-radius: 20px;
}
.text-color{
    color: #707070;
}
.input-box{
    width: 420px;
    padding: 15px;
    outline: none;
    border-radius: 10px;
}
.margin-b-80{
    margin-bottom: 100px;
}
.z-index{
    z-index: 1;
}
.radius{
    border-radius: 15px;
}